$blue: #1F4287;
$red: #DF0C12;
$black: #000000;
$grey-text: #344552;
$blue-text: #103F7C;

$red-button: #FF1515;

$blue-popup: #172675;
$grey-placeholder-popup:#535353;
$grey-text-popup: #344552;
$prey-social-popup: #8E8E8E;
